
@font-face	{
		font-family: "MyOxygen";
		font-style: normal;
		font-weight: normal;
		src: url("https://fonts.gstatic.com/s/oxygen/v5/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff");
			}
			
body	{
		font-family:"arial";
		background-image: url("https://upload.wikimedia.org/wikipedia/en/0/0d/Van_Halen_album.jpg");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center top;
		}

#divBackground	{
		height: 300px; /*Any explanation why "300px" doesn't work but 300px does would be appreciated. Seems CSS is a bit picky at times.*/
		background-image: "https://upload.wikimedia.org/wikipedia/en/0/0d/Van_Halen_album.jpg";
		background-repeat: no-repeat;
		background-position: center center;

				}
#spacer	{

	text-align: center;
}

.albumName	{
		font-family:"MyOxygen";  /*embedded font for album title and band member names */
				}

#bandNames	{
		font-style: italic;
				}
		
a 	{
			text-decoration: none;
			color:grey;
	}

th 	{
			background-color: grey;
	}
	
tr	{
		text-align:center;
	}
	
ul 	{
			list-style-type: square;
	}
	
	/* start table fade */
#one	{
		background: #808080;
		}
	
#two	{
		background: #999999;
		}
	
#three	{
		background: #b3b3b3;
		}
	
#four	{
		background: #cccccc;
		}
			
#five	{
		background: #d9d9d9;
		}
	
#six	{
		background: #f2f2f2;
		}
