/*< Sec 4 Lab 4: Restaurant Site v 3  https://softwareguild.learninghouse.com/mod/assign/view.php?id=86393 */

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
			}

body	{
	font-family: "arial";
		}
		
.indexP	{ /* aligns main page text to justify */
	text-align: justify;
	}
	
a	{
	color: #008000;	
	text-decoration: none;
	}

a:hover	{
	color: #ffffff;
	background: #00cc00
		}
	
.divCenter	{ /* used to center text in header and footer on all pages*/
	text-align: center;
	font-family: "Indie Flower";
}

.menuDescriptions	{
	font-size: large;

}

#menuBackgroundColor	{
	background-color: #008000;
}

#indexBackgroundColor	{
	background-color: #008000;
}

.reqField	{
	font-weight: bold;
}